/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}


.nav-links a.disabled {
    opacity: 0.6;
    pointer-events: none;
}


.dropdown {
    position: relative;
}


.dropdown-menu {
    display: none;
    position: absolute;
    background: white;
    color: black;
    top: 28px;
    left: 0;
    padding: 8px 0;
    border-radius: 5px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}


.dropdown:hover .dropdown-menu {
    display: block;
}


.dropdown-menu a {
    display: block;
    padding: 6px 15px;
    color: black;
    text-decoration: none;
}


.dropdown-menu a:hover {
    background: #eee;
}


.search-box {
    margin-left: auto;
    display: flex;
    gap: 10px;
}


.search-box input {
    padding: 6px 10px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 15px;
}


.search-btn {
    padding: 6px 14px;
    border: none;
    border-radius: 4px;
    background: #ffc107;
    cursor: pointer;
    font-size: 15px;
} */